@import 'about-me';
@import 'basic-section';
@import 'button';
@import 'card';
@import 'colors';
@import 'contact-me';
@import 'footer';
@import 'layout';
@import 'pricing';
@import 'section-title';
@import 'skills';
@import 'stitch-animations';
@import 'stitch-box';
@import 'stitch-text';
@import 'top-bar';
@import 'work';
