.basic-section {
  padding-top: $double-space;
  padding-bottom: $double-space;

  @media only screen and (min-width: $desktop-breakpoint) {
    padding-top: $quad-space;
    padding-bottom: $quad-space;
  }
}
