.basic-card {
   box-shadow: $box-shadow;
   -webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
   backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	transition: .3s;

	&:hover {
		box-shadow: $box-shadow-hover;
		transform: translateY(-5px);
	}
}