.basic-card {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transition: all 0.4s;
  border-top: 5px solid transparent;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  background-color: $offwhite;
  color: black;

  h3 {
    font-size: 2em;
    margin-bottom: .5em;
  }

  p {
    margin-bottom: 0;
  }

  p:first-of-type:last-of-type {
    font-style: italic;
    margin-top: -.75em;

    & + small {
      margin-top: 0;
      margin-bottom: 27px;
    }
  }

  p:last-of-type {
    margin-bottom: 1.5em;
  }

  @media screen and (min-width: 768px) {
    box-shadow: $box-shadow;
    border-bottom: none;
    border-left: none;
    border-right: none;

    &:hover {
      box-shadow: $box-shadow-hover;
      transform: translateY(-5px);
    }
  }
}


.web-development-active {
  .basic-card {
    border-top-color: $red !important;

    button,
    a {
      border-color: $red !important;
      color: $red !important;
      &:hover {
        color: $offwhite !important;
        background-color: $red !important;
      }
    
      &:active {
        border-color: transparent !important;
        background-color: darken($red, 5%) !important;
        // box-shadow: 0 3px 3px rgba($slate, 0.3) !important;
        // transform: translate3d(0, 1px, 0) !important;
      }
    }
  }
}

.cms-development-active {
  .basic-card {
    border-top-color: $orange !important;

    button,
    a {
      border-color: $orange !important;
      color: $orange !important;

      &:hover {
        color: $offwhite !important;
        background-color: $orange !important;
      }
    
      &:active {
        border-color: transparent !important;
        background-color: darken($orange, 5%) !important;
        // box-shadow: 0 3px 3px rgba($slate, 0.3) !important;
        // transform: translate3d(0, 1px, 0) !important;
      }
    }
  }
}

.mobile-development-active {
  .basic-card {
    border-top-color: $teal !important;

    button,
    a {
      border-color: $teal !important;
      color: $teal !important;

      &:hover {
        color: $offwhite !important;
        background-color: $teal !important;
      }
    
      &:active {
        border-color: transparent !important;
        background-color: darken($teal, 5%) !important;
        // box-shadow: 0 3px 3px rgba($slate, 0.3) !important;
        // transform: translate3d(0, 1px, 0) !important;
      }
    }
  }
}


// .basic-card {
//   &--offwhite {
//     color: $slate;
//     background-color: $offwhite;
//   }

//   &--white {
//     color: $slate;
//     background-color: $white;
//   }
// }

// .card {
//   &--offwhite {
//     color: $slate;
//     background-color: $offwhite;
//   }

//   &--white {
//     color: $slate;
//     background-color: $white;
//   }
// }