@media only screen and (max-width: 767px) {
  .contact-me {
    &__input-container {
      flex-direction: column;
    }

    &__input {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}
