@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

$economist-red: rgb(227, 18, 11);
$box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@mixin box-shadow {
  box-shadow: $box-shadow;

  &:hover {
    transform: translateY(-1px);
    box-shadow: -3px 2px 10px rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: -2px 1px 3px rgba(0, 0, 0, 0.3);        
  }
}

body {
  scroll-behavior: smooth;
}

.economist {
  &.dark {
    color: white;
    background-color: #333;

    .economist__print-edition-toggle {
      background-color: #333;
    }

    .economist__print-edition-section--title {
      background-color: #1a1a1a;
    }

    .article-teaser::before,
    .print-edition-article-teaser::before,
    .article-teaser::after,
    .print-edition-article-teaser::after,
    .article-teaser *::before,
    .print-edition-article-teaser *::before,
    .article-teaser *::after,
    .print-edition-article-teaser *::after {
      color: white !important;
    }

    .economist__print-edition-toggle button {
      color: white !important;
    }

    .economist__print-edition-section--title {
      color: white !important;
    }

    .print-edition-article-teaser {
      &__fly-title,
      &__sub-title {
        font-weight: bold;
      }
    }
  }

  &.no-images {
    img {
      display: none;
    }
  }

  &.reverse .economist {
    &__article-list-wrapper {
      top: 0;
      right: 0;
      padding-right: 15px;
      width: 26%;
    }

    &__article-wrapper {
      margin-right: auto;
      margin-left: 0;
      width: 74%;
    }

    &__print-edition-toggle {
      right: 0;
      left: auto;
      width: 26%;
      padding-right: 5px;
    }

    &__options {
      right: auto;
      left: 8px;
    }
  }

  &.work-mode {
    * {
      font-family: 'Courier Prime', 'Courier New', monospace;
      border: none;
    }
    
    button {
      box-shadow: none !important;
      transform: translateY(0) !important;
    }

    .economist__print-edition-toggle button {
      color: black;
      border-radius: 0;
      background-color: transparent !important;

      &.active {
        border-bottom: 1px solid $economist-red;
      }
    }

    .economist__print-edition-section {
      &:nth-of-type(2) {
        &::before {
          content: '{';
          font-size: 14px;
        }
      }

      &:last-of-type {
        &::after {
          content: '}';
          font-size: 14px;
          display: block;
        }
      }
    }

    .economist__print-edition-section--title {
      background-color: transparent;
      font-size: 13px;
      color: black;
      padding: 0;
      margin-top: 5px;

      &::after {
        content: ': {';
      }
    }

    .economist__options button {
      border-radius: 0;
      border: 1px solid #ddd;
    }

    .article-teaser {
      border: none !important;
      padding: 0;
      margin: 0;
      font-size: 14px;

      &__title,
      &__description {
        margin-bottom: 0;
        font-size: 14px;
      }

      *::before,
      *::after {
        color: black;
      }

      &.active *::before,
      &.active *::after,
      &.active::after {
        color: $economist-red;
      }

      & > *:first-child:not(:last-child) {
        &::after {
          content: ': {';
        }
      }

      & > *:nth-child(2):not(:last-child)::after {
        content: ': {'
      }

      & > *:nth-child(2) {
        padding-left: 18px;
      }

      & > *:nth-child(3) {
        padding-left: 36px;
      }

      & > *:nth-child(3)::after {
        content: '},';
        display: block;
      }

      & > *:nth-child(2):last-child::after,
      & > *:nth-child(3):last-child::after {
        margin-left: -18px;
      }

      &__section::after {
        content: ':'
      }

      &::after {
        content: '},';
        display: block;
      }
    }

    .print-edition-article-teaser {
      padding-left: 18px;
      margin-bottom: 0;

      * {
        font-size: 14px;
      }

      *::before,
      *::after {
        color: black;
      }

      span:first-child:not(:last-child)::after {
        content: ': {'
      }

      span:last-child:not(:first-child)::after {
        content: '},';
        display: block;
        margin-left: -18px;
      }

      span:not(:first-child) {
        padding-left: 18px;
      }

      span:first-child:last-child::after {
        content: ',';
      }

      &:last-child {
        margin-bottom: 0;

        &::after {
          font-size: 14px;
          content: '},';
          margin-left: -18px;
        }
      }
    }

    .article__body {
      p {
        margin-left: 18px;
        margin-bottom: 0;

        &::before {
          content: '{\A';
          white-space: pre;
          margin-left: -18px;
        }

        &::after {
          content: '},';
          display: block;
          margin-left: -18px;
        }
      }
    }
  }

  &.dark.work-mode {
    &,
    .economist__print-edition-toggle {
      background-color: #111;
    }
  }

  &__print-edition-toggle {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 25vw;
    background-color: $primary-background-color;
    z-index: 10;
    
    button {
      cursor: pointer;
      background-color: $economist-red !important;
      color: white;
      border: 2px solid transparent;
      font-size: 13px;
      padding: 7px;
      width: 50%;
      margin: 10px;
      border-radius: 5px;
      transition: all .2s;
      box-shadow: $box-shadow;

      &.active {
        background-color: darken($economist-red, 7.5%) !important;
      }

      @include box-shadow();

      &:first-child {
        margin-right: 5px;
      }

      &:last-child {
        margin-left: 5px;
      }
    }
  }

  &__article-list-wrapper {
    padding: 51px 10px 5px 10px;
    width: 25%;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__article-wrapper {
    position: relative;
    width: 75%;
    margin-left: auto;
  }

  @media (min-width: 1680px) {
    &__article-list-wrapper {
      width: 420px;
    }

    &__print-edition-toggle {
      width: 420px;
    }

    &__article-wrapper {
      width: calc(100% - 420px);
    }
  }

  &__password-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;

    form {
      margin-bottom: 0;
    }

    input {
      padding: 10px 20px;
      outline: none;
      width: 260px;
      max-width: 100%;
      text-align: center;
      font-size: 18px;
      border-radius: 10px;
      border: 3px solid black;
    }
  }

  &__spinner {
    margin: 0;
    height: 52px;
    width: auto;
    transform-style: preserve-3d;
    animation: spin 1.5s linear infinite;
  }

  &__options {
    position: fixed;
    bottom: 5px;
    right: 8px;
    display: flex;
    flex-direction: column;

    button {
      width: 32px;
      height: 32px;
      display: flex;
      border-radius: 5px;
      margin: 2px 0;
      justify-content: center;
      align-items: center;
      @include box-shadow();
      cursor: pointer;

      svg {
        width: 17px;
        height: auto;
        margin: 0;

        &.fa-plus,
        &.fa-minus {
          width: 13px;
        }
      }
    }
  }

  &__print-edition {
    &--image {
      display: flex;
      box-shadow: $box-shadow;

      img {
        margin-bottom: 0;
      }
    }

    &--date {
      font-size: 15.8px;
      margin-top: 5px;
    }

  }

  &__print-edition-section {

    &--title {
      margin-top: 15px;
      margin-bottom: 5px;
      padding: 5px 10px;
      text-transform: uppercase;
      font-size: 16px;
      background-color: rgb(56, 62, 66);
      color: white;
    }
  }
}

.article-teaser {
  padding: 12px 20px 2px 20px;
  margin: 5px 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  transform: translateY(0);
  transform-style: preserve-3d;
  @include box-shadow();
  border: 2px solid white !important;
  transition: all .2s;

  &__section {
    color: $economist-red;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__title {
    margin-top: 8px;
  }

  &__section + .article-teaser__title {
    margin-top: 0;
  }

  &__description {
    @media (min-width: 768px) {
      font-size: 15px;
    }
  }

  &.active,
  &.active:hover,
  &.active:active {
    border-color: $economist-red !important;
  }
}

.print-edition-article-teaser {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  text-align: left;
  width: 100%;

  &__fly-title,
  &__sub-title {
    color: $economist-red;
    font-size: 14px;
  }

  &__title {
    font-weight: 600;
    font-size: 15.8px;
  }
}

.article {
  max-width: 1050px;
  margin: 0 auto;
  padding: 55px 50px;

  &__date {
    margin-top: -18px;
  }

  &__subheadline {
    color: $economist-red;
    font-weight: bold;
    font-size: 16px;
  }

  &__body {
    p {
      font-family: 'Lora', sarif;
    }
  }
}