.web-development-active .footer {
  a,
  a:link,
  a:hover {
    * {
      border-color: $red;
    }
  }

  a:active {
    * {
      border-color: lighten($red, 25%);
    }
  }
}

.cms-development-active .footer {
  a,
  a:link,
  a:hover {
    * {
      border-color: $orange;
    }
  }

  a:active {
    * {
      border-color: lighten($orange, 25%);
    }
  }
}

.mobile-development-active .footer {
  a,
  a:link,
  a:hover {
    * {
      border-color: $teal;
    }
  }

  a:active {
    * {
      border-color: lighten($teal, 25%);
    }
  }
}

