* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// body {
//     background-color: $beige;
//     color: white;
// }

.container {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 2rem;
}