* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
}

@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 80%;
  }

  h1 {
    font-size: 3.5rem !important;
  }

  .section-title h3,
  .basic-section.hero-image h3 {
    font-size: 2.25rem !important;
  }

  .basic-section.about,
  .basic-section.hero-image,
  .basic-section.contact {
    background-attachment: unset !important;
  }

  .web-only {
    display: none !important;
  }
}
