@keyframes moveLeft {
   0% {
      transform: translateX(0);
   }

   100% {
      transform: translateX(-800px);
   }
}

.section-title {
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   backface-visibility: hidden;
   transform: skew(0deg);
   transition: all .3s;
   cursor: default;

   & + div {   
      .section-title__animated-border {
         animation: moveLeft 20s linear infinite forwards;
         animation-play-state: paused;
         border-bottom-width: $default-border-width;
         border-bottom-style: $default-border-style;
         width: 1000px;
      }
   }

   &:hover {
   transform: skew(-15deg);

      & + div {   
         .section-title__animated-border {
            animation-play-state: running;
         }
      }
   }
}