.section-title {
  margin-bottom: $double-space;

  @media only screen and (min-width: $desktop-breakpoint) {
    margin-bottom: $quad-space;
  }
}

.web-development-active {
  .colored-title {
    color: $red !important;
  }
}

.cms-development-active {
  .colored-title {
    color: $orange !important;
  }
}

.mobile-development-active {
  .colored-title {
    color: $teal !important;
  }
}
