.skills {

   &__skill-type-card {
      padding: $single-space;
   }

   &__details--cms-development,
   &__details--web-development,
   &__details--mobile-development {
      p {
         margin: 0 auto $single-space auto;
      }

      p:last-child {
         margin-bottom: 0;
      }
   }

   &__details {
      padding-top: $triple-space;
      padding-bottom: $triple-space;
   }

   &__types-selector--box,
   &__types-selector--line,
   &__details {
      border-style: $default-border-style;
      border-width: $default-border-width;
   }

   &__types-selector--line {
      height: $quad-space;
   }

   &__technology-container {
      margin-bottom: $double-space;
   }

   &.cms-development {

      .skills {

         &__types-selector--box,
         &__types-selector--line,
         &__details {
            border-color: $orange !important;
         }
      }
   }

   &.web-development {

      .skills {

         &__types-selector--box,
         &__types-selector--line,
         &__details {
            border-color: $red !important;
         }
      }
   }

   &.mobile-development {

      .skills {

         &__types-selector--box,
         &__types-selector--line,
         &__details {
            border-color: $teal !important;
         }
      }
   }

   &__skill-type-card {
      transition: .3s;

      &--cms-development {

         .stitch-box__border {
            border-color: $orange;
         }

         i {
            background-image: linear-gradient($orange, darken($orange, 15%));
         }

         h4 {
            color: darken($orange, 15%);
         }

         &:hover {
            // background-color: rgba($orange, .5) !important;
         }
      }

      &--web-development {

         .stitch-box__border {
            border-color: $red;
         }

         i {
            background-image: linear-gradient($red, darken($red, 15%));
         }

         h4 {
            color: darken($red, 15%);
         }

         &:hover {
            // background-color: rgba($red, .5) !important;
         }
      }

      &--mobile-development {

         .stitch-box__border {
            border-color: $teal;
         }

         i {
            background-image: linear-gradient($teal, darken($teal, 10%));
         }

         h4 {
            color: darken($teal, 10%);
         }

         &:hover {
            // background-color: rgba($teal, .5) !important; 
         }
      }
   }
}