@keyframes expandVertical {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes expandHorizontal {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes retractHorizontal {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes retractHorizontal-2 {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes retractHorizontal-3 {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

$row-1-vertical-animation: expandVertical 0.4s forwards .9s;
$row-2-vertical-animation: expandVertical 0.4s forwards .9s;
$row-3-vertical-animation: expandVertical 0.5s forwards 1.3s;
$row-4-vertical-animation: expandVertical 0.5s forwards 0.8s;
$row-5-vertical-animation: expandVertical 0.4s forwards 0.9s;

$rows-1-2-horizontal-animation: retractHorizontal 0.7s forwards 0.5s;
$rows-3-4-horizontal-animation-1: retractHorizontal 0.7s forwards 0.5s;
$rows-3-4-horizontal-animation-2: retractHorizontal-2 0.7s forwards 0.5s;
$rows-3-4-horizontal-animation-3: retractHorizontal-3 0.7s forwards 0.5s;
$rows-5-6-horizontal-animation: retractHorizontal 0.7s forwards 0.5s;

.vertical-line {
  border-left-width: $default-border-width;
  border-left-style: $default-border-style;
}

.horizontal-line {
  width: 100%;
  background-color: $offwhite;
}

.horizontal-line-top {
  border-top-width: $default-border-width;
  border-top-style: $default-border-style;
}

.horizontal-line-bottom {
  border-bottom-width: $default-border-width;
  border-bottom-style: $default-border-style;
}

.vertical-line-container--row-6 {
  display: none !important;
}

.horizontal-line-mask {
  background-color: $offwhite;
}

.vertical-line-mask {
  height: 0%;
}

.horizontal-line-mask {
  width: 0%;
}


.skills {
  .vertical-line-container--row-1 {
    height: $quad-space + $triple-space;
    align-items: flex-end !important;

    .skills__vertical-line-mask--cms-development,
    .skills__vertical-line-mask--web-development,
    .skills__vertical-line-mask--mobile-development {
      align-items: flex-end !important;
    }
  }

  &__details-wrapper {
    padding-top: $triple-space;
    padding-bottom: $triple-space;
  }

  .vertical-line-container--row-2 {
    height: $quad-space + $triple-space;
  }
}

.work {
  .vertical-line-container--row-3 {
    height: $quad-space + $double-space + $triple-space + $quad-space;
  }

  &__main-work-wrapper {
    padding-top: $quad-space + $triple-space + $double-space;
    padding-bottom: $quad-space + $triple-space + $double-space;
  }

  .vertical-line-container--row-4 {
    height: $quad-space + $quad-space + $triple-space + $double-space;
  }

  .vertical-line-container--row-5 {
    height: $quad-space + $triple-space;
    align-items: flex-end !important;

    .work__vertical-line-mask--cms-development,
    .work__vertical-line-mask--web-development,
    .work__vertical-line-mask--mobile-development {
      align-items: flex-end !important;
    }
  }

  &__projects-wrapper {
    padding-top: $triple-space;
    padding-bottom: $quad-space;
  }
}

.content-wrapper.cms-development-active {
  .horizontal-line {
    border-color: $orange;
  }

  .skills {
    &__skill-type-card--cms-development {
      .stitch-box {
        &__top-border-mask,
        &__bottom-border-mask {
          animation: expandHorizontal 0.2s forwards;
        }

        &__left-border-mask,
        &__right-border-mask {
          animation: expandVertical 0.2s forwards;
        }
      }
    }

    &__vertical-line-mask--cms-development {
      &.skills__vertical-line-mask {
        .vertical-line {
          border-color: $orange;
        }

        &--row-1 {
          animation: $row-1-vertical-animation;
        }

        &--row-2 {
          animation: $row-2-vertical-animation;
        }
      }
    }

    &__horizontal-line-mask--cms-development {
      &.skills__horizontal-line-mask {
        &--row-1,
        &--row-2 {
          animation: $rows-1-2-horizontal-animation;
        }
      }
    }
  }

  .work {
    &__vertical-line-mask--cms-development {
      &.work__vertical-line-mask {
        .vertical-line {
          border-color: $orange;
        }

        &--row-3 {
          animation: $row-3-vertical-animation;
        }

        &--row-4 {
          animation: $row-4-vertical-animation;
        }

        &--row-5 {
          animation: $row-5-vertical-animation;
        }
      }
    }

    &__horizontal-line-mask--cms-development {
      &.work__horizontal-line-mask {
        &--row-3,
        &--row-4 {
          animation: $rows-3-4-horizontal-animation-1;
        }

        &--row-5,
        &--row-6 {
          animation: $rows-5-6-horizontal-animation;
        }
      }
    }
  }
}

.content-wrapper.web-development-active {
  .horizontal-line {
    border-color: $red;
  }

  .skills {
    &__skill-type-card--web-development {
      .stitch-box {
        &__top-border-mask,
        &__bottom-border-mask {
          animation: expandHorizontal 0.2s forwards;
        }

        &__left-border-mask,
        &__right-border-mask {
          animation: expandVertical 0.2s forwards;
        }
      }
    }

    &__vertical-line-mask--web-development {
      &.skills__vertical-line-mask {
        .vertical-line {
          border-color: $red;
        }

        &--row-1 {
          animation: $row-1-vertical-animation;
        }

        &--row-2 {
          animation: $row-2-vertical-animation;
        }
      }
    }

    &__horizontal-line-mask--web-development {
      &.skills__horizontal-line-mask {
        &--row-1,
        &--row-2 {
          animation: $rows-1-2-horizontal-animation;
        }
      }
    }
  }

  .work {
    &__vertical-line-mask--web-development {
      &.work__vertical-line-mask {
        .vertical-line {
          border-color: $red;
        }

        &--row-3 {
          animation: $row-3-vertical-animation;
        }

        &--row-4 {
          animation: $row-4-vertical-animation;
        }

        &--row-5 {
          animation: $row-5-vertical-animation;
        }
      }
    }

    &__horizontal-line-mask--web-development {
      &.work__horizontal-line-mask {
        &--row-3,
        &--row-4 {
          animation: $rows-3-4-horizontal-animation-2;
        }

        &--row-5,
        &--row-6 {
          animation: $rows-5-6-horizontal-animation;
        }
      }
    }
  }
}

.content-wrapper.mobile-development-active {
  .horizontal-line {
    border-color: $teal;
  }
  .skills {
    &__skill-type-card--mobile-development {
      .stitch-box {
        &__top-border-mask,
        &__bottom-border-mask {
          animation: expandHorizontal 0.2s forwards;
        }

        &__left-border-mask,
        &__right-border-mask {
          animation: expandVertical 0.2s forwards;
        }
      }
    }

    &__vertical-line-mask--mobile-development {
      &.skills__vertical-line-mask {
        .vertical-line {
          border-color: $teal;
        }

        &--row-1 {
          animation: $row-1-vertical-animation;
        }

        &--row-2 {
          animation: $row-2-vertical-animation;
        }
      }
    }

    &__horizontal-line-mask--mobile-development {
      &.skills__horizontal-line-mask {
        &--row-1,
        &--row-2 {
          animation: $rows-1-2-horizontal-animation;
        }
      }
    }
  }

  .work {
    &__vertical-line-mask--mobile-development {
      &.work__vertical-line-mask {
        .vertical-line {
          border-color: $teal;
        }

        &--row-3 {
          animation: $row-3-vertical-animation;
        }

        &--row-4 {
          animation: $row-4-vertical-animation;
        }

        &--row-5 {
          animation: $row-5-vertical-animation;
        }
      }
    }

    &__horizontal-line-mask--mobile-development {
      &.work__horizontal-line-mask {
        &--row-3,
        &--row-4 {
          animation: $rows-3-4-horizontal-animation-3;
        }

        &--row-5,
        &--row-6 {
          animation: $rows-5-6-horizontal-animation;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .skills {
    .vertical-line-container--row-1 {
      height: $quad-space + $half-space;
    }

    &__details-wrapper {
      padding-top: $half-space;
      padding-bottom: 0;
    }

    .vertical-line-container--row-2 {
      height: $quad-space + $double-space;
    }
  }

  .section-title--full-time-work {
    top: $quad-space !important;
  }

  .section-title--side-projects {
    bottom: $triple-space !important;
  }

  .work {
    .vertical-line-container--row-3 {
      height: $quad-space + $quad-space;
    }

    &__main-work-wrapper {
      padding-top: $quad-space;
      padding-bottom: $quad-space;
    }

    .vertical-line-container--row-4 {
      height: $quad-space + $quad-space;
    }

    .vertical-line-container--row-5 {
      height: $quad-space + $half-space;
    }

    &__projects-wrapper {
      padding-top: $half-space;
      padding-bottom: 0;
    }
  }
}
