@keyframes fadeIn {
  0% {
    transform: translateY(-25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.work {
  .section-title {
    background-color: $offwhite;
  }

  &__projects,
  &__main-work,
  &__main-work-1,
  &__main-work-2 {
    padding-top: $single-space;
    padding-bottom: $single-space;
  }

  &__type-name {
    background-color: $offwhite;
    border-right-style: $default-border-style;
    border-right-width: $default-border-width;
    border-color: transparent;
  }

  &__projects-container {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
  }

  &__project-overlay,
  &__project-overlay-mask {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: 0.4s;
    opacity: 0;
  }

  &__project-overlay-mask {
    transform: scale(0.65);
  }

  &__individual-project .stitch-box:hover .work {
    &__project-overlay,
    &__project-overlay-mask {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__projects {
    &.work__projects--cms-development {
      .stitch-box__border {
        border-color: $orange;
      }

      h2.mobile-only {
        color: darken($orange, 15%);
        margin-bottom: 2.7rem;
      }
    }

    &.work__projects--web-development {
      .stitch-box__border {
        border-color: $red;
      }

      h2.mobile-only {
        color: darken($red, 15%);
        margin-bottom: 2.7rem;
      }
    }

    &.work__projects--mobile-development {
      .stitch-box__border {
        border-color: $teal;
      }
    }

    h2.mobile-only {
      color: darken($teal, 10%);
      margin-bottom: 2.7rem;
    }
  }
}

@media only screen and (max-width: $desktop-breakpoint - 1) {
  .work {
    &__main-work,
    &__main-work-1,
    &__main-work-2 {
      flex-direction: column !important;

      & > div {
        padding: 0 !important;
      }
    }

    &__main-work-2 {
      flex-direction: column-reverse !important;
    }

    &__individual-project {
      width: 100% !important;
    }

    &__envivent-link {
      max-width: 250px !important;
    }

    .skills__skill-type-card--cms-development,
    .skills__skill-type-card--web-development,
    .skills__skill-type-card--mobile-development {
      width: 33.33% !important;
    }

    .skills__skill-type-card {
      img {
        margin: 0;
      }

      h4 {
        display: none;
      }
    }
  }
}
