@keyframes expandDown {
   0% {
      height: 0%;
   }
   100% {
      height: 100%;
   }
}

@keyframes fadeIn {
   0% {
      transform: translateY(-25%);
      opacity: 0;
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes expandRight {
   0% {
      transform: translate(-100%, -50%);
   }
   100% {
      transform: translate(0%, -50%);
   }
}

.work {

   .section-title {
      background-color: $offwhite;
   }

   &__individual-project {
      margin: 0 $single-space $single-space $single-space;
   }

   &__type-name {
      background-color: $offwhite;
      border-right-style: $default-border-style;
      border-right-width: $default-border-width;
      border-color: transparent;
   }

   &__displaying-main .work {
      &__type--main .work {
         &__type-name {
            border-right-style: $default-border-style;
            border-right-width: $default-border-width;
            border-color: $slate !important;
         }

         &__horizontal-line {
            animation: expandRight 0.2s forwards 0.1s;
            border-bottom-style: $default-border-style;
            border-bottom-width: $default-border-width;
            border-color: $slate !important;
         }
      }

      &__projects-container {
         .work__individual-project {
            animation: fadeIn 0.5s both 0.3s;
         }

         .work__vertical-line--main {
            animation: expandDown 0.2s forwards 0.3s;
            border-left-style: $default-border-style;
            border-left-width: $default-border-width;
            border-color: $slate !important;
         }
      }

      &__individual-project--main {
         display: flex !important;
      }
   }

   &__displaying-cms .work {
      &__type--cms .work {
         &__type-name {
            border-right-style: $default-border-style;
            border-right-width: $default-border-width;
            border-color: $orange !important;
         }

         &__horizontal-line {
            animation: expandRight 0.2s forwards 0.1s;
            border-bottom-style: $default-border-style;
            border-bottom-width: $default-border-width;
            border-color: $orange !important;
         }
      }

      &__projects-container {
         .work__individual-project {
            animation: fadeIn 0.5s both 0.3s;
         }

         .work__vertical-line--cms {
            animation: expandDown 0.2s forwards 0.3s;
            border-left-style: $default-border-style;
            border-left-width: $default-border-width;
            border-color: $orange !important;
         }
      }

      &__individual-project--cms {
         display: flex !important;
      }
   }

   &__displaying-web .work {
      &__projects-container {
         .work__individual-project {
            animation: fadeIn 0.5s both 0.3s;
         }
         .work__vertical-line--web {
            animation: expandDown 0.2s forwards 0.3s;
            border-left-style: $default-border-style;
            border-left-width: $default-border-width;
            border-color: $red !important;
         }
      }

      &__type--web .work {
         &__type-name {
            border-right-style: $default-border-style;
            border-right-width: $default-border-width;
            border-color: $red !important;
         }

         &__horizontal-line {
            animation: expandRight 0.2s forwards 0.1s;
            border-bottom-style: $default-border-style;
            border-bottom-width: $default-border-width;
            border-color: $red !important;
         }
      }

      &__individual-project--web {
         display: flex !important;
      }
   }

   &__displaying-mobile .work {
      &__projects-container {
         .work__individual-project {
            animation: fadeIn 0.5s both 0.3s;
         }

         .work__vertical-line--mobile {
            animation: expandDown 0.2s forwards 0.3s;
            border-left-style: $default-border-style;
            border-left-width: $default-border-width;
            border-color: $teal !important;
         }
      }

      &__type--mobile .work {
         &__type-name {
            border-right-style: $default-border-style;
            border-right-width: $default-border-width;
            border-color: $teal !important;
         }

         &__horizontal-line {
            animation: expandRight 0.2s forwards 0.1s;
            border-bottom-style: $default-border-style;
            border-bottom-width: $default-border-width;
            border-color: $teal !important;
         }
      }

      &__individual-project--mobile {
         display: flex !important;
      }
   }
}
