// Greyscale
$white: rgb(255, 255, 255);
$offwhite: #f9faff;
$slate: rgb(51, 51, 51);
$black: rgb(0, 0, 0);

// Color Pallette
$teal: rgb(0, 106, 114);
$olive: rgb(96, 100, 0);
$green: #84BC30;
$beige: rgb(218, 216, 181);
$red: rgb(177, 0, 0);
$orange: rgb(228, 159, 0);

// Borders
$default-border-style: dashed;
$default-border-width: 0.15rem;
$half-border-width: 0.075rem;

// Spacing
$single-space: 1.45rem;
$half-space: $single-space / 2;
$third-space: $single-space / 3;
$quarter-space: $single-space / 4;
$double-space: $single-space * 2;
$triple-space: $single-space * 3;
$quad-space: $single-space * 4;
$quint-space: $single-space * 5;

// Box Shadows
$box-shadow: 0 10px 40px 0 rgba(97, 4, 95, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
$box-shadow-hover: 0 16px 32px 0 rgba(62, 57, 107, 0.18), 0 0 0 transparent;
$box-shadow-active: 0 5px 20px 0 rgba(97, 4, 95, 0.07), 0 1px 5px 0 rgba(62, 57, 107, 0.06);

$primary-text-color: $black;
$secondary-text-color: $teal;
$primary-background-color: $offwhite;
$secondary-background-color: $slate;
$tertiary-background-color: $slate;