$white: 'white';
$black: 'black';
$darkgrey: '#333';
$blue: 'deepskyblue';


$primary-text-color: $black;
$secondary-text-color: $blue;
$primary-background-color: $white;
$secondary-background-color: $darkgrey;